# IDE & Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Scripts & Local Drafts
*.bat
*.docx
UniLibrary_MiniProject_Report_Draft.*

# Build & Dependencies
**/target/
**/dist/
**/node_modules/
